<!DOCTYPE html>

{% load cart %}
{% load custom_filter %}
{% load static %}

<html class="supports-js supports-no-touch supports-csstransforms supports-csstransforms3d supports-fontface">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>parasiaz.com - Dostlarınız İçin</title>
	<!-- Font ================================================== -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,500,600,700">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
	<!-- Font ================================================== -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,500,600,700">
	<!-- Helpers ================================================== -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="Home Market - Responsive HTML5 theme">
	<meta property="og:image" content="{% static 'assets/images/logo.png' %}">
	<meta property="og:image:secure_url" content="{% static 'assets/images/logo.png' %}">
	<meta property="og:url" content="#">
	<meta property="og:site_name" content="Home Market Red">
	<meta name="twitter:site" content="@">
	<meta name="twitter:card" content="summary">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- CSS ================================================== -->
	<link href="{% static 'assets/css/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
	<link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'assets/css/swatch.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'assets/css/flexslider.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'assets/css/timber.scss.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'assets/css/home_market.global.scss.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'assets/css/home_market.style.scss.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'assets/css/tada.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'assets/css/spr.css' %}" rel="stylesheet" type="text/css" media="all">
	<!-- JS ================================================== -->
	<script src="{% static 'assets/js/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/jquery.fancybox.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/owl.carousel.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/jquery.tweet.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/jquery.optionSelect.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/jquery.flexslider-min.js' %}" type="text/javascript"></script>
</head>

<body id="home-market-responsive-shopify-theme" class="index1 template-index">

	<div id="NavDrawer" class="drawer drawer--left">
		<div class="drawer__header">
			<div class="drawer__title h3">
				Parası Az
			</div>
			<div class="drawer__close js-drawer-close">
				<button type="button" class="icon-fallback-text">
				<span class="icon icon-x" aria-hidden="true"></span>
				<span class="fallback-text">Kapat</span>
				</button>
			</div>
		</div>
		<!-- begin mobile-nav -->
		<ul class="mobile-nav">
			<li class="mobile-nav__item mobile-nav__item--active">
				<a href="/" class="mobile-nav__link">Anasayfa</a>
			</li>
			<li class="mobile-nav__item" aria-haspopup="true">
				<div class="mobile-nav__has-sublist">
					<a href="/collection/1/all/all" class="mobile-nav__link">Kedi Bölümü</a>
					<div class="mobile-nav__toggle">
						<button type="button" class="icon-fallback-text mobile-nav__toggle-open">
						<span class="icon icon-plus" aria-hidden="true"></span>
						<span class="fallback-text">Genişlet</span>
						</button>
						<button type="button" class="icon-fallback-text mobile-nav__toggle-close">
						<span class="icon icon-minus" aria-hidden="true"></span>
						<span class="fallback-text">Daralt</span>
						</button>
					</div>
				</div>
				<ul class="mobile-nav__sublist">
					<li class="mobile-nav__item ">
					<a href="/kedi-mama/0/0/all/all" class="mobile-nav__link">Kedi Mamaları</a>
					</li>
					<li class="mobile-nav__item ">
					<a href="/kedi-odul/0/0/all/all" class="mobile-nav__link">Kedi Ödül Mamaları</a>
					</li>
					<li class="mobile-nav__item ">
					<a href="/kedi-kum/0/0/all/all" class="mobile-nav__link">Kedi Kumları</a>
					</li>
					<li class="mobile-nav__item ">
					<a href="/kedi-oyuncak/0/0/all/all" class="mobile-nav__link">Kedi Oyuncakları</a>
					</li>
					<li class="mobile-nav__item ">
					<a href="/kedi-tirmalama/0/0/all/all" class="mobile-nav__link">Kedi Tırmalamaları</a>
					</li>
					<li class="mobile-nav__item ">
					<a href="/kedi-kap/0/0/all/all" class="mobile-nav__link">Kedi Mama Kapları</a>
					</li>
				</ul>
			</li>
			<li class="mobile-nav__item" aria-haspopup="true">
				<div class="mobile-nav__has-sublist">
					<a href="/collection/2/all/all" class="mobile-nav__link">Köpek Bölümü</a>
					<div class="mobile-nav__toggle">
						<button type="button" class="icon-fallback-text mobile-nav__toggle-open">
						<span class="icon icon-plus" aria-hidden="true"></span>
						<span class="fallback-text">Genişlet</span>
						</button>
						<button type="button" class="icon-fallback-text mobile-nav__toggle-close">
						<span class="icon icon-minus" aria-hidden="true"></span>
						<span class="fallback-text">Daralt</span>
						</button>
					</div>
				</div>
				<ul class="mobile-nav__sublist">
					<li class="mobile-nav__item ">
					<a href="/kopek-mama/0/0/all/all" class="mobile-nav__link">Köpek Mamaları</a>
					</li>
					<li class="mobile-nav__item ">
					<a href="/kopek-odul/0/0/all/all" class="mobile-nav__link">Köpek Ödül Mamaları</a>
					</li>
					<li class="mobile-nav__item ">
					<a href="/kopek-tasma/0/0/all/all" class="mobile-nav__link">Köpek Tasmaları</a>
					</li>
					<li class="mobile-nav__item ">
					<a href="/kopek-oyuncak/0/0/all/all" class="mobile-nav__link">Köpek Oyuncakları</a>
					</li>
					<li class="mobile-nav__item ">
					<a href="/kopek-yatak/0/0/all/all" class="mobile-nav__link">Köpek Yatakları</a>
					</li>
					<li class="mobile-nav__item ">
					<a href="/kopek-kap/0/0/all/all" class="mobile-nav__link">Köpek Mama Kapları</a>
					</li>
				</ul>
			</li>
			<li class="mobile-nav__item">
			<a href="/campaigns" class="mobile-nav__link">Kampanyalar</a>
			</li>
			<li class="mobile-nav__item">
			<a href="/blog" class="mobile-nav__link">Blog</a>
			</li>
			<li class="mobile-nav__item">
			<a href="/contact-us" class="mobile-nav__link">İletişim</a>
			</li>
			<!-- Customer links -->
			<li class="mobile-nav__item">
			<a href="/login" id="customer_login_link">Giriş Yap</a>
			</li>
			<li class="mobile-nav__item">
			<a href="/signup" id="customer_register_link">Üye Ol</a>
			</li>
		</ul>
	</div>

	<div id="CartDrawer" class="drawer drawer--right fancybox-margin" style="margin-right: 0px;">
		<div class="drawer__header">
			<div class="drawer__title h3">
				Sepetim
			</div>
			<div class="drawer__close js-drawer-close">
				<button type="button" class="icon-fallback-text">
				<span class="icon icon-x" aria-hidden="true"></span>
				<span class="fallback-text">"Kapat"</span>
				</button>
			</div>
		</div>
		<div id="CartContainer">
			<div class="cart ajaxcart">
				<div class="ajaxcart__inner">
					{% for product in cart_products %}
					<div class="ajaxcart__product">
						<div class="ajaxcart__row" data-line="{{ forloop.counter }}">
							<div class="grid">
								<div class="grid__item one-quarter">
									<a href="/products/{{product.slug}}" class="ajaxcart__product-image"><img src="{{product.image.url}}" alt=""></a>
								</div>
								<div class="grid__item three-quarters">
									<p>
										<a href="/products/{{product.slug}}" class="ajaxcart__product-name">{{product.name}}</a>
										<span class="ajaxcart__product-meta"></span>
									</p>
									<div class="grid--full display-table">
										<div class="grid__item" style="padding-top: 0px; padding-bottom: 0px;">
											<div class="ajaxcart__qty">
												<form action="/decrease/" method="post" enctype="multipart/form-data" class="form-decrease-number">
													{% csrf_token %}
													{% if query %}
													<input type="hidden" name="query" value="{{query}}">
													<input type="hidden" name="basepathraw" value="{{basepathraw}}">
													{% endif %}
													<input type="hidden" name='product' value='{{product.id}}'>
													<input type="hidden" name="remove" value="True">
													<button type="submit" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-qty="0" data-line="{{ forloop.counter }}">
													<span class="icon icon-minus" aria-hidden="true"></span>
													<span class="fallback-text">−</span>
													</button>
												</form>
												<input readonly type="text" class="ajaxcart__qty-num" value="{{product|cart_quantity:request.session.cart}}" min="1" data-line="{{ forloop.counter }}" aria-label="quantity" pattern="[0-9]*">
												<form action="/increase/" method="post" enctype="multipart/form-data" class="form-increase-number">
													{% csrf_token %}
													{% if query %}
													<input type="hidden" name="query" value="{{query}}">
													<input type="hidden" name="basepathraw" value="{{basepathraw}}">
													{% endif %}
													<input type="hidden" name='product' value='{{product.id}}'>
													<button type="submit" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-line="{{ forloop.counter }}" data-qty="0">
													<span class="icon icon-plus" aria-hidden="true"></span>
													<span class="fallback-text">+</span>
													</button>
												</form>
											</div>
										</div>
										{% with multiplier=product|cart_quantity:request.session.cart %}
										<div class="grid__item" id="per-item-price-{{forloop.counter}}" style="padding-top: 0px; padding-bottom: 0px;">
											<span class="money" data-currency="TL">{{product.price|multiply:multiplier|currency}}</span>
										</div>
										{% endwith %}
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="ajaxcart__footer">
					<div class="grid--full">
						<div class="grid__item title-total">
							<p>
								Toplam
							</p>
						</div>
						<div class="grid__item price-total">
							<p>
								<span class="money" data-currency="TL">{{cart_products|total_cart_price:request.session.cart|currency}}</span>
							</p>
						</div>
					</div>
					<p class="text-center">
						Kargo ücreti ve vergiler ödeme kısmında yer alacaktır
					</p>
					<button type="button" class="btn btn--full cart__shoppingcart" name="shoppingCart" onclick="location.href='/cart'">
					Sepete Gİt → </button>
					<button type="button" class="btn btn--full cart__shoppingcart" name="shoppingCart" onclick="location.href='/sorgula'">
					Sİparİş Sorgula → </button>
				</div>
			</div>
		</div>
	</div>

	<div id="PageContainer" class="is-moved-by-drawer">
		<!-- Main Header -->
		<header class="site-header">
			<div class="wrapper">
				<div id="main-header" class="grid--full grid--table">
					<div class="grid__item small--one-whole medium--one-whole two-eighths">
						<h1 class="site-header__logo large--left" itemscope="" itemtype="http://schema.org/Organization">
						<a href="/" itemprop="url" class="site-header__logo-link">
							<img src="{% static 'assets/images/logo.png' %}" alt="Parası Az" itemprop="logo">
						</a>
						</h1>
					</div>
					<div class="grid__item small--one-whole medium--one-whole four-eighths mobile-bottom">
						<div class="large--hide medium-down--show navigation-icon">
							<div class="grid">
								<div class="grid__item one-half">
									<div class="site-nav--mobile">
										<button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
										<span class="icon icon-hamburger" aria-hidden="true"></span>
										<span class="fallback-text">Menü</span>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="site-header__search">
							<form action="/search/all/" method="get" class="input-group search-bar">
								<input type="search" name="query" value="" placeholder="Arama" class="input-group-field st-default-search-input" aria-label="Arama">
								<span class="input-group-btn">
								<button type="submit" class="btn icon-fallback-text">
								<i class="fa fa-search"></i>
								<span class="fallback-text">Ara</span>
								</button>
								</span>
							</form>
						</div>
						<div class="large--hide medium-down--show navigation-cart">
							<div class="grid__item text-right">
								<div class="site-nav--mobile">
									<a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
									<span class="icon-fallback-text">
									<span class="icon icon-cart" aria-hidden="true"></span>
									<span class="fallback-text">Sepetim</span>
									</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="grid__item small--one-whole two-eighths medium-down--hide">
						<ul class="link-list">
							<li class="track-order">
								<a href="/about-us">
									<i class="fa fa-map-marker"></i>
									<span class="name">Hakkımızda</span>
								</a>
							</li>
							<li class="header-account">
								{% if request.session.customer %}
								<a href="/orders" id="account_link">
									<i class="fa fa-user"></i>
									<span class="name">Hesabım</span>
								</a>
								{% else %}
								<a href="#loginBox" id="login_link">
									<i class="fa fa-user"></i>
									<span class="name">Hesabım</span>
								</a>
								<div id="loginBox" class="loginLightbox" style="display:none;">
									<div id="lightboxlogin">
										<form method="post" action="/login/" id="customer_login" accept-charset="UTF-8">
											{% csrf_token %}
											<input type="hidden" value="customer_login" name="form_type"><input type="hidden" name="utf8" value="✓">
											<div id="bodyBox">
												<h3>Giriş Yap</h3>
												<label for="CustomerEmail" class="hidden-label">Email</label>
												<input type="email" name="email" id="CustomerEmail" class="input-full" placeholder="Email">
												<label for="CustomerPassword" class="hidden-label">Şifre</label>
												<input type="password" value="" name="password" id="CustomerPassword" class="input-full" placeholder="Şifre">
												<input type="submit" class="btn btn2 btn--full" value="Giriş Yap">
												<div>
													<p class="forgot">
														<a href="#recover" onclick="showRecoverPasswordForm();return false;" id="RecoverPassword">Şifremi Unuttum</a>
													</p>
													<p class="create">
														<a href="#create_accountBox" onclick="showCreateAccountForm();return false;" id="CreateAccountPassword">Yeni Hesap Oluştur</a>
													</p>
												</div>
												<p>
													<a href="#" onclick="$.fancybox.close();">Kapat</a>
												</p>
											</div>
										</form>
									</div>
									<div id="recover-password" style="display:none;">
										<h3>Şifreni Sıfırla</h3>
										<p class="note">
											Size şifrenizi yenilemeniz için  bir email göndereceğiz.
										</p>
										<form method="post" action="#" accept-charset="UTF-8">
											<input type="hidden" value="recover_customer_password" name="form_type"><input type="hidden" name="utf8" value="✓">
											<p>
												<label for="recover-email" class="label">Email</label>
											</p>
											<input type="email" value="" size="30" name="email" id="recover-email" class="text">
											<div class="action_bottom">
												<input class="btn btn2" type="submit" value="Submit">
												<a class="btn back" href="#" onclick="hideRecoverPasswordForm();return false;">Girişe Dön</a>
											</div>
											<p class="close">
												<a href="#" onclick="$.fancybox.close();">Kapat</a>
											</p>
										</form>
									</div>
									<div id="create_accountBox" style="display:none;">
										<h3>Yeni Hesap Oluştur</h3>
										<div class="form-vertical">
											<form method="post" action="/signup/" id="create_customer" accept-charset="UTF-8">
												{% csrf_token %}
												<input type="hidden" value="create_customer" name="form_type"><input type="hidden" name="utf8" value="✓">
												<label for="FirstName" class="hidden-label">İsim</label>
												<input type="text" name="firstname" id="FirstName" class="input-full" placeholder="İsim">
												<label for="LastName" class="hidden-label">Soyisim</label>
												<input type="text" name="lastname" id="LastName" class="input-full" placeholder="Soyisim">
												<label for="Phone" class="hidden-label">Telefon</label>
												<input type="text" name="phone" id="Phone" class="input-full" placeholder="Telefon">
												<label for="Email" class="hidden-label">Email</label>
												<input type="email" name="email" id="Email" class="input-full" placeholder="Email">
												<label for="CreatePassword" class="hidden-label">Şifre</label>
												<input type="password" name="password" id="CreatePassword" class="input-full" placeholder="Şifre">
												<p>
													<input type="submit" value="Üye Ol" class="btn btn2 btn--full">
												</p>
												<p>
													<span><a class="btn" href="#" onclick="hideRecoverPasswordForm();return false;">Girişe Dön</a></span>
												</p>
												<p class="close">
													<a href="#" onclick="$.fancybox.close();">Kapat</a>
												</p>
											</form>
										</div>
									</div>
									<script>
											function showRecoverPasswordForm() {
											  $('#recover-password').css("display",'block');
											  $('#lightboxlogin').css("display",'none');
											  $('#create_accountBox').css("display",'none');
											}
											function hideRecoverPasswordForm() {
											  $('#recover-password').css("display",'none');
											  $('#lightboxlogin').css("display",'block');
											  $('#create_accountBox').css("display",'none');
											}
											function showCreateAccountForm(){
											  $('#recover-password').css("display",'none');
											  $('#lightboxlogin').css("display",'none');
											  $('#create_accountBox').css("display",'block');
											}
										  </script>
								</div>
								{% endif %}
							</li>
							<li class="header-cart" id="CartHeader">
								<a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
									<i class="fa fa-shopping-basket"></i>
									<span id="CartCount">{{request.session.cart.keys|length}}</span>
									<span class="name">Sepetim</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<!-- Navigation Bar -->
		<nav class="nav-bar">
			<div class="wrapper">
				<div class="medium-down--hide">
					<!-- begin site-nav -->
					<ul class="site-nav" id="AccessibleNav">
						<li class="site-nav--active">
							<a href="/" class="site-nav__link">
								<span>Ana Sayfa</span>
							</a>
						</li>
						<li class="mega-menu site-nav--has-dropdown" aria-haspopup="true">
							<a href="/collection/1/all/all" class="site-nav__link">
								<span>KEDİNİZ İÇİN</span>
								<span class="icon icon-arrow-down" aria-hidden="true"></span>
							</a>
							<ul class="site-nav__dropdown megamenu__dropdown megamenu_1">
								<li class="nav-sampletext grid__item large--one-quarter">
									<a href="/"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
									<p>
										Kedi dostlarınız için en kaliteli ürünleri keşfedin.
									</p>
									<p>
										Siz en iyisini seçin, biz getirelim.
									</p>
								</li>
								<li class="nav-links nav-links01 grid__item large--one-quarter">
									<ul>
										<li class="list-title"><a href="/kedi-mama/0/0/all/all" style="color: #2c2c2c; font-size: 18px;">KEDİ MAMALARI</a></li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kedi-mama/1/1/all/all">Kuru Mamalar</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kedi-mama/1/0/all/all">Yaş Mamalar</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kedi-odul/0/0/all/all">Ödül Mamaları</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kedi-mama/2/1/all/all">Yavru Kedi Mamaları</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kedi-mama/2/0/all/all">Yetişkin Kedi Mamaları</a>
										</li>
									</ul>
								</li>
								<li class="nav-links nav-links02 grid__item large--one-quarter">
									<ul>
										<li class="list-title">DİĞER ÜRÜNLER</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kedi-kum/0/0/all/all">Kedi Kumları</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kedi-tirmalama/0/0/all/all">Kedi Tırmalamaları</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="#">Kedi Bakım Ürünleri</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kedi-oyuncak/0/0/all/all">Kedi Oyuncakları</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kedi-kap/0/0/all/all">Kedi Mama Kapları</a>
										</li>
									</ul>
								</li>
								<li class="nav-links nav-links03 grid__item large--one-quarter">
								</li>
							</ul>
						</li>
						<li class="mega-menu site-nav--has-dropdown" aria-haspopup="true">
							<a href="/collection/2/all/all" class="site-nav__link">
								<span>KÖPEĞİNİZ İÇİN</span>
								<span class="icon icon-arrow-down" aria-hidden="true"></span>
							</a>
							<ul class="site-nav__dropdown megamenu__dropdown megamenu_2">
								<li class="nav-sampletext grid__item large--one-quarter">
									<a href="/"><img src="{% static 'assets/images/logo.png' %}" alt=""></a>
									<p>
										Can dostlarınız en iyisini hak ediyor.
									</p>
									<p>
										Biz de bunun farkındayız.
									</p>
								</li>
								<li class="nav-links nav-links01 grid__item large--one-quarter">
									<ul>
										<li class="list-title"><a href="/kopek-mama/0/0/all/all" style="color: #2c2c2c; font-size: 18px;">KÖPEK MAMALARI</a></li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kopek-mama/1/1/all/all">Kuru Mamalar</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kopek-mama/1/0/all/all">Yaş Mamalar</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kopek-odul/0/0/all/all">Ödül Mamaları</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kopek-mama/2/1/all/all">Yavru Köpek Mamaları</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kopek-mama/2/0/all/all">Yetişkin Köpek Mamaları</a>
										</li>
									</ul>
								</li>
								<li class="nav-links nav-links02 grid__item large--one-quarter">
									<ul>
										<li class="list-title">DİĞER ÜRÜNLER</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kopek-tasma/0/0/all/all">Köpek Tasmaları</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kopek-kap/0/0/all/all">Köpek Mama Kapları</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="#">Köpek Bakım Ürünleri</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kopek-oyuncak/0/0/all/all">Köpek Oyuncakları</a>
										</li>
										<li class="list-unstyled nav-sub-mega">
										<a href="/kopek-yatak/0/0/all/all">Köpek Yatakları</a>
										</li>
									</ul>
								</li>
								<li class="nav-links nav-links03 grid__item large--one-quarter">
								</li>
							</ul>
						</li>
						<li>
							<a href="/campaigns" class="site-nav__link">
								<span>TÜM KAMPANYALAR</span>
								<span class="special_label hot_label">ÖZEL</span>
							</a>
						</li>
						<li>
							<a href="/contact-us" class="site-nav__link">
								<span>BİZE ULAŞIN</span>
							</a>
						</li>
					</ul>
					<script>
						  $(window).ready(function($) {
							//$('.megamenu__dropdown').css("width",$('#main-header').innerWidth());
						  });
						  $( window ).resize(function() {
							//$('.megamenu__dropdown').css("width",$('#main-header').innerWidth());
						  });
					</script>
				</div>
			</div>
		</nav>

		<!---->
		{% block content %}{% endblock %}
		<!-- Footer -->
		<footer class="site-footer">
			<div class="grid__item footer_newsletter">
				<div class="wrapper">
					<h3><i class="fa fa-envelope"></i> Bültene abone olun ve fırsatları kaçırmayın!</h3>
					<form action="/subscribe/" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="input-group">
						{% csrf_token %}
						<input type="email" value="" placeholder="Emailinizi girin..." name="email" id="mail" class="input-group-field" aria-label="email@example.com">
						<span class="input-group-btn">
						<input type="submit" class="btn" name="subscribe" id="subscribe" value="Abone Ol">
						</span>
					</form>
				</div>
			</div>
			<div class="grid__item footer_information">
				<div class="wrapper">
					<div class="grid-uniform">
						<div class="fi-about-block grid__item one-quarter small--one-whole medium--one-whole">
							<div class="fi-title">
								Hakkımızda
							</div>
							<div class="fi-content">
								<ul class="group_information">
									<li><i class="fa fa-map-marker"></i> Çiftlikköy / YALOVA</li>
									<li><i class="fa fa-phone"></i> 0 555 555 55 55</li>
									<li><i class="fa fa-envelope"></i> parasiaz@hotmail.com</li>
								</ul>
							</div>
							<div class="fi-content inline-list social-icons">
								<a href="#" title="Twitter" class="icon-social twitter" data-toggle="tooltip" data-placement="top"><i class="fa fa-twitter-square"></i></a>
								<a href="#" title="Facebook" class="icon-social facebook" data-toggle="tooltip" data-placement="top"><i class="fa fa-facebook-square"></i></a>
								<a href="#" title="Google+" class="icon-social google" data-toggle="tooltip" data-placement="top"><i class="fa fa-google-plus-square"></i></a>
								<a href="#" title="Pinterest" class="icon-social pinterest" data-toggle="tooltip" data-placement="top"><i class="fa fa-pinterest-square"></i></a>
								<a href="#" title="Youtube" class="icon-social youtube" data-toggle="tooltip" data-placement="top"><i class="fa fa-youtube-square"></i></a>
								<a href="#" title="Vimeo" class="icon-social vimeo" data-toggle="tooltip" data-placement="top"><i class="fa fa-vimeo-square"></i></a>
							</div>
						</div>
						<div class="fi-links grid__item one-quarter small--one-whole medium--one-whole">
							<div class="fi-title">
								Linkler
							</div>
							<div class="fi-content">
								<ul class="grid__item one-half">
									<li>
										<a href="/about-us"><span>Hakkımızda</span></a>
									</li>
									<li>
										<a href="#"><span>Kargolama</span></a>
									</li>
									<li>
										<a href="#"><span>Güvenlik</span></a>
									</li>
									<li>
										<a href="#"><span>Online Yardım</span></a>
									</li>
								</ul>
								<ul class="grid__item one-half">
									<li>
										<a href="/orders"><span>Hesabım</span></a>
									</li>
									<li>
									<a href="#"><span>S.S.S.</span></a>
									</li>
									<li>
									<a href="./contact.html"><span>İletişim</span></a>
									</li>
									<li>
									<a href="#"><span>Üreticiler</span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="fi-tags grid__item one-quarter small--one-whole medium--one-whole">
							<div class="fi-title">
								Ürün Kampyanları
							</div>
							<div class="fi-content">
								<ul>
									<li><a href="#">Kedi Mamalarında Büyük İndirim</a></li>
									<li><a href="#">Köpek Mamalarında Fırsatlar</a></li>
									<li><a href="#">Toptan Fiyatına Perakende</a></li>
									<li><a href="#">Kargo Ücreti Yok</a></li>
								</ul>
							</div>
						</div>
						<div class="fi-block grid__item one-quarter small--one-whole medium--one-whole">
							<div class="fi-title">
								Son Blog Paylaşımları
							</div>
							<ul class="fi-content post-element">
								<li>
								<div class="post-title">
									<a href="#">Quisque porta felis est ut malesuada lorem dignissim</a>
								</div>
								<div class="post-author">
									<span class="author">parasiaz Ekibi</span>
								</div>
								</li>
								<li>
								<div class="post-title">
									<a href="#">Section 1.10.33 of de Finibus Bonorum et Malorum, written by Cicero in 45 BC</a>
								</div>
								<div class="post-author">
									<span class="author">parasiaz Ekibi</span>
								</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="grid__item footer_product_categories">
				<div class="wrapper">
					<div class="fi-title">
						Kategoriler
					</div>
					<div class="fi-content">
						<ul class="product_categories_list">
							<li class="pc-items">
							<a href="/kedi-mama/0/0/all/all">Kedi Mamaları</a>
							</li>
							<li class="pc-items">
							<a href="/kopek-mama/0/0/all/all">Köpek Mamaları</a>
							</li>
							<li class="pc-items">
							<a href="/kedi-odul/0/0/all/all">Kedi Ödül Mamaları</a>
							</li>
							<li class="pc-items">
							<a href="/kopek-odul/0/0/all/all">Köpek Ödül Mamaları</a>
							</li>
							<li class="pc-items">
							<a href="/kopek-tasma/0/0/all/all">Köpek Tasmaları</a>
							</li>
							<li class="pc-items">
							<a href="/kopek-yatak/0/0/all/all">Köpek Yatakları</a>
							</li>
							<li class="pc-items">
							<a href="/kopek-kap/0/0/all/all">Köpek Mama Kapları</a>
							</li>
							<li class="pc-items">
							<a href="/kedi-oyuncak/0/0/all/all">Kedi Oyuncakları</a>
							</li>
							<li class="pc-items">
							<a href="/kedi-tirmalama/0/0/all/all">Kedi Tırmalamaları</a>
							</li>
							<li class="pc-items">
							<a href="/kedi-kap/0/0/all/all">Kedi Mama Kapları</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="grid__item footer_copyright">
				<div class="wrapper">
					<div class="grid">
						<div class="grid__item footer-copyright one-half small--one-whole medium--one-whole small--text-center">
							<p>
								© 2022 parasiaz.com. Tüm Hakları Saklıdır.
							</p>
						</div>
					</div>
				</div>
			</div>

			<script type="text/javascript">
			  $(function () {
				$(".fi-title").click(function(){
				  $(this).toggleClass('opentab');
				});
			  });
			</script>
		</footer>
	</div>

	<div id="scroll-to-top" title="Scroll to Top" class="off">
		<i class="fa fa-caret-up"></i>
	</div>

	<dialog id="dialog1" style="border: 1px solid red; border-radius: 5px;">
		<p id="dialogp1">Bültene abone olduğunuz için teşşekürler.</p>
		<div style="text-align: center; margin-top: 10px;"><button class="btn btn2" onclick="window.dialog1.close();">Kapat</button></div>
	</dialog>

    <!--div id="newsletter_popup" class="modal in fade" style="display: none;">
		<div class="nl-wraper-popup tada-hidden">
			<div class="nl-wraper-popup-inner">
				<form action="#" method="post" name="mc-embedded-subscribe-form" target="_blank">
					<div class="newsletter-popup-content">
						<div class="top-area">
							<span class="head-text1">Subscribe to our Newsletter &amp; receive a coupon for</span>
							<span class="head-text2">10% off</span>
						</div>
						<div class="bottom-area">
							<div class="group_input">
								<input class="form-control" type="email" name="EMAIL" placeholder="Your Email address">
								<button class="btn" type="submit">Get 10% off</button>
							</div>
							<span class="bottom-explain">We will send you a discount code after you confirm your email address.</span>
						</div>
						<div class="nl-social">
							<div class="fi-content inline-list social-icons">
								<a href="#" title="Twitter" class="icon-social twitter" data-toggle="tooltip" data-placement="top"><i class="fa fa-twitter-square"></i></a>
								<a href="#" title="Facebook" class="icon-social facebook" data-toggle="tooltip" data-placement="top"><i class="fa fa-facebook-square"></i></a>
								<a href="#" title="Google+" class="icon-social google" data-toggle="tooltip" data-placement="top"><i class="fa fa-google-plus-square"></i></a>
								<a href="#" title="Pinterest" class="icon-social pinterest" data-toggle="tooltip" data-placement="top"><i class="fa fa-pinterest-square"></i></a>
								<a href="#" title="Youtube" class="icon-social youtube" data-toggle="tooltip" data-placement="top"><i class="fa fa-youtube-square"></i></a>
								<a href="#" title="Vimeo" class="icon-social vimeo" data-toggle="tooltip" data-placement="top"><i class="fa fa-vimeo-square"></i></a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div-->

    <script>
		var tada_index,tada_autosearchcomplete,tada_swiftype,tada_ads,tada_adsspeed,tada_slideshowtime,tada_block1gallery=false,tada_block1product=false, tada_newsletter=false;
		  tada_index=1;
		  tada_ads=1;
		  tada_adsspeed=5000;
		  tada_slideshowtime = 30000;
		  tada_block1gallery = true;
		  tada_block1product = true;
		  tada_newsletter = true;
    </script>

	<script src="{% static 'assets/js/modernizr.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/timber.js' %}" type="text/javascript"></script>

	<div id="quick-shop-modal" class="modal quick-shop" style="display:none;">
		<div class="modal-dialog fadeIn">
			<div class="modal-content">
				<div class="modal-body">
					<div class="quick-shop-modal-bg">
					</div>
					<div class="grid__item one-half qs-product-image">
						<div id="quick-shop-image" class="product-image-wrapper">
							<div id="featuted-image" class="main-image featured">
								<img class="img-zoom img-responsive image-fly" src="{% static 'assets/images/demo1_qs_480x480.jpg' %}" data-zoom-image="{% static 'assets/images/demo1_qs_480x480.jpg' %}" alt="">
							</div>
							<div id="gallery_main_qs" class="product-image-thumb scroll scroll-mini">
								<div class="qs-vertical-slider product-single__thumbnails">
										<a class="image-thumb active thumb__element"><img src="{% static 'assets/images/demo1_qs1_100x100.jpg' %}" alt="" /></a>
										<a class="image-thumb thumb__element"><img src="{% static 'assets/images/demo1_qs2_100x100.jpg' %}" alt="" /></a>
										<a class="image-thumb thumb__element"><img src="{% static 'assets/images/demo1_qs3_100x100.jpg' %}" alt="" /></a>
										<a class="image-thumb thumb__element"><img src="{% static 'assets/images/demo1_qs4_100x100.jpg' %}" alt="" /></a>
										<a class="image-thumb thumb__element"><img src="{% static 'assets/images/demo1_qs5_100x100.jpg' %}" alt="" /></a>
								</div>
							</div>
							<div class="vertical-slider product-single__thumbnails" style="opacity: 0;">
							</div>
						</div>
					</div>
					<div class="grid__item one-half qs-product-information">
						<div id="quick-shop-container">
							<h3 id="quick-shop-title"><a href="./product.html">Corporis suscipit laboriosam</a></h3>
							<div class="rating-star">
								<span class="shopify-product-reviews-badge" data-id="3008529923"></span>
							</div>
							<div class="description">
								<div id="quick-shop-description" class="text-left">
									<p>
										Quisque vel enim quis purus ultrices consequat, sed tincidunt massa blandit ipsum interdum tristique cras dictum, lacus eu molestie elementum nulla est auctor. Etiam dan lorem quis ligula elementum porttitor quisem. Duis eget purus urna fusce sed scelerisque ante. Lorem ipsum dolor sit amet conse...
									</p>
								</div>
							</div>
							<form action="#" method="post" class="variants" enctype="multipart/form-data">
								<div id="quick-shop-price-container" class="detail-price">
									<span class="price"><span class="money">$89.00</span></span>
								</div>
								<div class="quantity-wrapper clearfix">
									<label class="wrapper-title">Quantity</label>
									<div class="wrapper">
										<span class="qty-down" title="Decrease" data-src="#qs-quantity">
										<i class="fa fa-minus"></i>
										</span>
										<input type="text" id="qs-quantity" size="5" class="item-quantity" name="quantity" value="1">
										<span class="qty-up" title="Increase" data-src="#qs-quantity">
										<i class="fa fa-plus"></i>
										</span>
									</div>
								</div>
								<div id="quick-shop-variants-container" class="variants-wrapper" style="display: block;">
									<div class="selector-wrapper">
										<label for="#quick-shop-variants-3008529731-option-0">Size</label>
										<select class="single-option-selector" data-option="option1" id="#quick-shop-variants-3008529731-option-0">
											<option value="XS">XS</option>
											<option value="S">S</option>
											<option value="M">M</option>
											<option value="L">L</option>
											<option value="XL">XL</option>
										</select>
									</div>
									<div class="selector-wrapper">
										<label for="#quick-shop-variants-3008529731-option-1">Color</label>
										<select class="single-option-selector" data-option="option2" id="#quick-shop-variants-3008529731-option-1">
											<option value="Black">Black</option>
											<option value="Red">Red</option>
											<option value="Green">Green</option>
											<option value="Blue">Blue</option>
											<option value="White">White</option>
										</select>
									</div>
								</div>
								<div class="others-bottom">
									<input class="btn btn-1 small add-to-cart" type="submit" name="add" value="Buy Now">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- AJAX FORM SUBMIT FOR SUBSCRIPTION -->
	<script type="text/javascript">
		$(function() {
			$("#mc-embedded-subscribe-form").submit(function(event) {
				event.preventDefault();
				var subscribeForm = $(this);
				var posting = $.post( subscribeForm.attr('action'), subscribeForm.serialize() );
				// if success:
				posting.done(function(data) {
					document.getElementById('dialogp1').innerHTML = 'Bültene abone olduğunuz için teşşekürler.'
					window.dialog1.showModal();
				});
				// if failure:
				posting.fail(function(data) {
					document.getElementById('dialogp1').innerHTML = 'Bu email için bir abonelik mevcut.'
					window.dialog1.showModal();
				});
			});
		});
	</script>

	<!-- AJAX FORM SUBMIT FOR DECREASE -->
	<script type="text/javascript">
		$(function() {
			$(document).on('submit','.form-decrease-number', function(event) {
				event.preventDefault();
				var subscribeForm = $(this);
				var posting = $.post( subscribeForm.attr('action'), subscribeForm.serialize() );
				// if success:
				posting.done(function(data) {
					form = subscribeForm.parents('div:first');
					grid = form.parents('div:first').parents('div:first').parents('div:first').parents('div:first').parents('div:first').parents('div:first');
					value = $("input[class='ajaxcart__qty-num']",form).val();
					if (value > 1) {
						var oldPrice = form.parents('div:first').parents('div:first').children('div').eq(1).children('span')[0].innerHTML.slice(0, -3);
						oldPer = oldPrice / value;
						newPrice = Number(oldPrice) - Number(oldPer);
						newPrice = newPrice + ' TL'
						form.parents('div:first').parents('div:first').children('div').eq(1).children('span')[0].innerHTML = newPrice;
						value--;
						$("input[class='ajaxcart__qty-num']",form).val(value);
					} else {
						grid.remove();
						var x = document.getElementById('CartCount').innerHTML;
						x--;
						document.getElementById('CartCount').innerHTML = x;
					}
					$(".price-total").load(" .price-total > *");
				});
				// if failure:
				posting.fail(function(data) {
				});
			});
		});
	</script>

	<!-- AJAX FORM SUBMIT FOR INCREASE -->
	<script type="text/javascript">
		$(function() {
			$(document).on('submit','.form-increase-number', function(event) {
				event.preventDefault();
				var subscribeForm = $(this);
				var posting = $.post( subscribeForm.attr('action'), subscribeForm.serialize() );
				// if success:
				posting.done(function(data) {
					form = subscribeForm.parents('div:first');
					value = $("input[class='ajaxcart__qty-num']",form).val();
					var oldPrice = form.parents('div:first').parents('div:first').children('div').eq(1).children('span')[0].innerHTML.slice(0, -3);
					oldPer = oldPrice / value;
					newPrice = Number(oldPrice) + Number(oldPer);
					newPrice = newPrice + ' TL';
					form.parents('div:first').parents('div:first').children('div').eq(1).children('span')[0].innerHTML = newPrice;
					value++;
					$("input[class='ajaxcart__qty-num']",form).val(value);
					$(".price-total").load(" .price-total > *");
				});
				// if failure:
				posting.fail(function(data) {
				});
			});
		});
	</script>

	<!-- AJAX FORM SUBMIT FOR ADDING TO CART -->
	<script type="text/javascript">
		$(function() {
			$(document).on('submit','.AddToCartFormCollection', function(event) {
				event.preventDefault();
				var subscribeForm = $(this);
				var posting = $.post( subscribeForm.attr('action'), subscribeForm.serialize() );
				// if success:
				posting.done(function(data) {
					$("#CartContainer").load(" #CartContainer > *");
					document.getElementById('CartCount').innerHTML = data['newCount'];
				});
				// if failure:
				posting.fail(function(data) {
				});
			});
		});
	</script>

	<script>
		var pos = localStorage.getItem('my-scroll-pos', 0);
		if (pos) {
			$(window).scrollTop(pos);
			localStorage.removeItem('my-scroll-pos');}

		var pos2 = localStorage.getItem('added', 0);
		if (pos2) {
			document.getElementById('dialogp1').innerHTML = 'Ürün sepetinize eklendi.'
			window.dialog1.showModal();
			localStorage.removeItem('added');}
	</script>

	<script type="text/javascript">
	  jQuery(document).ready(function($) {
		if($('.quantity-wrapper').length){
		  $('.quantity-wrapper').on('click', '.qty-up', function() {
			var $this = $(this);
			var qty = $this.data('src');
			$(qty).val(parseInt($(qty).val()) + 1);
		  });
		  $('.quantity-wrapper').on('click', '.qty-down', function() {
			var $this = $(this);
			var qty = $this.data('src');
			if(parseInt($(qty).val()) > 1)
			  $(qty).val(parseInt($(qty).val()) - 1);
		  });
		}
	  });
	</script>

</body>